$backgroundcolor1: rgb(20, 20, 20);
$backgroundcolor2: rgb(97, 97, 97);
$backgroundcolor3: rgb(134, 134, 134);
$backgroundcolor4: rgb(184, 184, 184);
$headlinecolor: rgb(255, 255, 255);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $backgroundcolor1;
  color: white;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.link{
  text-decoration: none;
  color: white;
}
