@import "App";

.box{
    background-color: $backgroundcolor2;
    margin: 2vh 0;
    padding: 2vh 2vw;
    &:hover {
        background-color: $buttonhovercolor;
        transform: scale(1.01);
        transition: 100ms ease all;
      }
      &:active {
        transition: 50ms ease all;
        background-color: $buttonactivecolor;
        transform: scale(1);
      }


}

.threadContainer{
    text-align: center;
    background-color: rgb(66, 66, 68);
    margin: 3vw 3vw;
}

.threadContainer2{
    text-align: center;
    background-color: rgb(66, 66, 68);
    margin: 3vw 3vw;
}

.threadTitle2{
    font-size: 5vh;
    font-weight: bold;
}

.threadTitle{
    font-size: 5vh;
    font-weight: bold;
}

.threadContent{
    // text-align: start;
    border: solid;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: grey;
    padding: 3vh;
    font-size: 1.7vh;
}

.linkButton{
    text-decoration: none;
}



.commentResult {
    position: absolute;
    left: 15vw;
    justify-content: center;
}

.comment{
    width: 40%;
    height: 15vh;
}

.postBtn{

}


.box:first-child{
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 8px 9px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }