.box{
    background-color: rgb(66, 66, 68);
    margin: 2vh 2vw;
    padding: 2vh 2vw;


}

.threadContainer{
    text-align: center;
    background-color: rgb(66, 66, 68);
}

.threadTitle{
    font-size: 5vh;
    font-weight: bold;
}

.threadContent{
    // text-align: start;
    border: solid;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: grey;
    padding: 3vh;
    font-size: 1.7vh;
}

.linkButton{
    text-decoration: none;
}

.comment{
    width: 40%;
    height: 15vh;
}


.box:first-child{
    display: none;
}

.menu-container {
    position: relative;
  }

  .menu {
    background: #0c0c0c;
    position:absolute;
    width: 300px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
  }

  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }

  .menu-trigger {
    background: #ffffff;
    border-radius: 90px;
    cursor: pointer;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    transition: box-shadow 0.4s ease;
  }

  .menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }

