.box{
    background-color: rgb(66, 66, 68);
    margin: 2vh 2vw;
    padding: 2vh 2vw;


}

.threadContainer{
    text-align: center;
    background-color: rgb(66, 66, 68);
}

.threadTitle{
    font-size: 5vh;
    font-weight: bold;
}

.threadContent{
    // text-align: start;
    border: solid;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: grey;
    padding: 3vh;
    font-size: 1.7vh;
}

.linkButton{
    text-decoration: none;
}



.commentResult {
    position: absolute;
    left: 15vw;
    justify-content: center;
}

.comment{
    width: 40%;
    height: 15vh;
}

.postBtn{

}


.box:first-child{
    display: none;
}

